.center_box_flex {
    background-color: gainsboro;
    width: 100%;
}

.flex_component_div {
    margin-top: 50px;
    
}
.flex-grid {
    display: flex;
    justify-content: space-between;
  }
  .col {
    flex: 1;
    width: 32%;
  }
  