.center_box_flex {
    background-color: gainsboro;
    width: 100%;
}

.flex_component_div {
    margin-top: 50px;

    
    
}
container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  
}
  .col {

 
  }
  